<!-- 
<h2>start toast</h2>
<app-toasttest></app-toasttest>

 <hr>
 
<h2>start app-autocompletetest </h2>
 <app-autocompletetest></app-autocompletetest> 

<hr>

<h2>start app-autocomplete </h2> -->

<!-- <app-grid></app-grid> -->
<!-- <app-gridtest></app-gridtest>
<br />
Editable Grid
<app-gridtesteditable></app-gridtesteditable>
<br />
<dp-calendar [definition]="calendarDefinitions" [ngModelDP]="calendarData1" ></dp-calendar>
<br /><br /><br />
<dp-calendar [definition]="calendar2Definitions" [ngModelDP]="calendarData2"></dp-calendar>
<br /><br /><br />
<dp-calendar [definition]="calendar3Definitions" [ngModelDP]="calendarData3"></dp-calendar>
<br /><br /><br /> -->
<!-- <dp-inputtext [(ngModelDP)]="textVal"></dp-inputtext> -->

<!-- <app-gridtest></app-gridtest> -->
<br>
<br>
<br>
<br>
<!-- <dp-autocomplete></dp-autocomplete> -->
<!-- <app-autocompletetest></app-autocompletetest>  -->

<dp-calendar [definition]="calendarDefinitions" [ngModelDP]="calendarData1" ></dp-calendar>